#home_banner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #container_banner {
    width: 90%;
    overflow: hidden;
    position: relative;
    #scene_banner {
      height: 80vh;
      display: flex;
      align-items: center;
      position: relative;
      #bureau_scene {
        height: 100%;
        width: 60%;
        position: absolute;
        right: 10%;
      }
    }
    #content_banner {
      width: 100%;
      position: absolute;
      bottom: 0;
      z-index: 2;
      max-height: 20vh;
      overflow: hidden;
      display: flex;
      #social_banner {
        width: 30%;
        position: relative;
        bottom: 0;
        left: 0;
      }
      #social_pisitioning_banner {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        position: absolute;
        bottom: 0;
      }
    }
  }
}
