.App {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
}
.super_title{
  width: 100%;
  font-size: 15vw;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}
.medium_bold_title{
  font-size: 3vw;
  text-transform: uppercase;
  margin: 0;
}
.subtitle {
  font-size: 1.5vw;
}

